html {
    font-family: "Abel", sans-serif;
    background: -webkit-linear-gradient(left, #999, #222);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #999, #222);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #999, #222);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #999, #222);
    /* Standard syntax */
}

#wrapper {
    height: 100vh;
}

#overlay {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
}

#info {
    position: fixed;
    top: 70%;
    left: 50%;
    background: rgba(99, 99, 99, .9);
    /*    box-shadow: 10px 10px 50px 20px #722f37;*/

    width: 90%;
    max-width: 400px;
    padding: 40px;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 1s;
    z-index: 999999999999999;
    box-shadow: 20px 20px 0 -5px rgba(68, 68, 68, .9);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#info button:hover {
    color: #999;
}

#info label#close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    margin: 15px;
    font-size: 1.6em;
}

input[type="radio"] {
    display: none;
}

input[type="radio"][id="open"]:checked~#overlay {
    opacity: .8;
    z-index: 9999999999;
}

input[type="radio"][id="open"]:checked~#info {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

label {
    color: #FFF;
}

label:hover {
    Color: #999;
    cursor: pointer;
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: solid 4px;
    padding: 20px;
    border-radius: 5px;
    font-size: 2em;
    color: #999;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

#button:hover {
    color: #9df;
}
